<a href="https://colab.research.google.com/github/hpnightowl/owlsbooks/blob/master/Metropolitan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
pwd

'/content'

In [0]:
import pandas as pd

data = pd.read_csv('Standard Metropolitan Areas Data - train_data - data.csv')

In [11]:
data.head(5)

   land_area  percent_city  percent_senior  ...  income  region  crime_rate
0       1384          78.1            12.3  ...   72100       1       75.55
1       3719          43.9             9.4  ...   54542       2       56.03
2       3553          37.4            10.7  ...   33216       1       41.32
3       3916          29.9             8.8  ...   32906       2       67.38
4       2480          31.5            10.5  ...   26573       4       80.19

[5 rows x 10 columns]

In [14]:
print('======================================')
print('Not Null Values')
print('======================================')
print(data.info())
print('======================================')
print('Null Values')
print('======================================')
print(data.isnull().sum())

======================================
Not Null Values
======================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
 9   crime_rate      99 non-null     float64
dtypes: float64(5), int64(5)
memory usage: 7.9 KB
None
======================================
Null Values
======================================
land_area         0
percent_city      0
percent_senior    0
physicians        0
hospital_beds     0
graduates         0
work_force        0
income            0
region            0
crime_rate        0
dtype: int64