<a href="https://colab.research.google.com/github/hpnightowl/Owlsbooks/blob/master/price_m.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [156]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [157]:
data = pd.read_csv("melb_data.csv")

In [158]:
data.head(5)

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

In [159]:
data.shape

(13580, 21)

In [160]:
data.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [161]:
data = data.drop(columns=['BuildingArea','YearBuilt'],axis=1)

removed these columns since more then or equal to 50% of data is null and will fill the councilArea with mean

In [162]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname',
       'Propertycount'],
      dtype='object')

In [163]:
data.CouncilArea.unique()

array(['Yarra', 'Moonee Valley', 'Port Phillip', 'Darebin', 'Hobsons Bay',
       'Stonnington', 'Boroondara', 'Monash', 'Glen Eira', 'Whitehorse',
       'Maribyrnong', 'Bayside', 'Moreland', 'Manningham', 'Banyule',
       'Melbourne', 'Kingston', 'Brimbank', 'Hume', nan, 'Knox',
       'Maroondah', 'Casey', 'Melton', 'Greater Dandenong', 'Nillumbik',
       'Whittlesea', 'Frankston', 'Macedon Ranges', 'Yarra Ranges',
       'Wyndham', 'Cardinia', 'Unavailable', 'Moorabool'], dtype=object)

In [164]:
data.Type.unique()

array(['h', 'u', 't'], dtype=object)

In [165]:
data['CouncilArea'].fillna(data['CouncilArea'].mode()[0], inplace=True)

In [166]:
data['Car'].fillna(data['Car'].median(), inplace=True)

In [167]:
X = data.drop(columns='Price')
y = data.Price

In [168]:
from sklearn import preprocessing
# label_encoder object knows how to understand word labels. 
X = X.apply(preprocessing.LabelEncoder().fit_transform)

In [169]:
X

       Suburb  Address  Rooms  ...  Longtitude  Regionname  Propertycount
0           0    12794      1  ...        3365           2            157
1           0     5943      1  ...        3247           2            157
2           0     9814      2  ...        3270           2            157
3           0     9004      2  ...        3330           2            157
4           0    10589      3  ...        3264           2            157
...       ...      ...    ...  ...         ...         ...            ...
13575     302     1991      3  ...        6527           4            241
13576     305    12234      2  ...        1118           6            223
13577     305    12745      2  ...        1293           6            223
13578     305    13311      3  ...        1415           6            223
13579     313    10776      3  ...        1230           6            227

[13580 rows x 18 columns]

In [170]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.33,random_state=47)

In [171]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(X_train,y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [172]:
y_pred = model.predict(X_test)

In [174]:
y_pred

array([ 625000., 1220000.,  750000., ..., 3225000.,  900000.,  870000.])

In [175]:
print("Test Accuracy Score: ",accuracy_score(y_test,y_pred))

Test Accuracy Score:  0.00825524319500223