<a href="https://colab.research.google.com/github/hpnightowl/owlsbooks/blob/master/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [174]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [175]:
titanic_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/First_ML_Model/master/titanic.csv", index_col = 'PassengerId')

In [176]:
titanic_data.head(5)

             Survived  Pclass  ... Cabin Embarked
PassengerId                    ...
1                   0       3  ...   NaN        S
2                   1       1  ...   C85        C
3                   1       3  ...   NaN        S
4                   1       1  ...  C123        S
5                   0       3  ...   NaN        S

[5 rows x 11 columns]

In [177]:
titanic_data.shape

(891, 11)

In [178]:
titanic_data.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [179]:
x = titanic_data[titanic_data.Sex =='male'].count()
print('Male:',x.Sex)
z = titanic_data[titanic_data.Sex =='female'].count()
print('Female:',z.Sex)

Male: 577
Female: 314

In [180]:
titanic_data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [181]:
y = titanic_data[titanic_data.SibSp == 1].count()
print("Siblings:",y.SibSp)

Siblings: 209

In [182]:
n = titanic_data[titanic_data.Survived == 1].count()
print("People Survived:",n.Survived)
total = titanic_data.Survived.count()
print("Total People Survived:",total)
print("Ratio:",n.Survived/total)

People Survived: 342
Total People Survived: 891
Ratio: 0.3838383838383838

In [183]:
survived_passengers = titanic_data[titanic_data.Embarked == 'S'].count()
survived_passengers

Survived    644
Pclass      644
Name        644
Sex         644
Age         554
SibSp       644
Parch       644
Ticket      644
Fare        644
Cabin       129
Embarked    644
dtype: int64

In [184]:
median_of_fair = titanic_data.Fare.median()
print('Median of fair:',median_of_fair)

Median of fair: 14.4542

In [185]:
#DataFrame of men
print('Percent of Men Survived:',np.mean(titanic_data['Survived'][titanic_data['Sex'] == 'male'])*100)

Percent of Men Survived: 18.890814558058924

In [186]:
#DataFrame of Women
print('Percent of Women Survived:',np.mean(titanic_data['Survived'][titanic_data['Sex'] == 'female'])*100)

Percent of Women Survived: 74.20382165605095



---


From That i Can Conclude That Men survived more Than Women

---

In [187]:
median_of_age = titanic_data.Age.median()
print('Median Of Age:',median_of_age)

Median Of Age: 28.0

In [188]:
high_fare = titanic_data.Fare.sort_values(axis=0,ascending=False)
high_fare.head(5)

PassengerId
680    512.3292
259    512.3292
738    512.3292
342    263.0000
439    263.0000
Name: Fare, dtype: float64

In [189]:
titanic_data['Age'] = titanic_data['Age'].fillna(np.mean(titanic_data['Age']))

In [190]:
titanic_data = titanic_data[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]
titanic_data['Sex'] = titanic_data['Sex'].apply(lambda hp: 1 if hp == 'male' else 0)

In [191]:
X = titanic_data.drop('Survived',axis = 1)
y = titanic_data['Survived']

In [192]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.33,random_state=47)

In [193]:
model = DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')